/* Universal Styles */

html {
  background-color: rgb(245, 244, 244);
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgb(70, 69, 69);
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
/* Header */

header {
  background-color: white;
  height: 65px;
  z-index: 1;
  position: fixed;
  width: 100%;
  box-shadow: 0 9px 6px -6px rgba(58, 56, 56, 0.733);
}

header .content {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px 25px 24px;
}

header .logo {
  height: 100%;
  display: flex;
}

.logo span {
  color: rgb(70, 69, 69);
  font-weight: bold;
}

.logo p {
  color: rgb(158, 154, 154);
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding-left: 1rem;
  display: inline-block;
}

nav a {
  text-decoration: none;
}

/* Banner Section */

#banner-section {
  display: flex;
  padding: 100px 24px 32px 24px;
  background-color: rgb(233, 230, 230);
}

#banner-section img {
  width: 60%;
  padding-right: 24px;
}

#banner-content {
  padding: 70px 50px 0px 48px;
  align-items: center;
}

#banner-content .text,
h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

#banner-content .text,
h4 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 40px;
}

#banner-content button {
  width: 100%;
  height: 70px;
  background-color: rgb(92, 91, 91);
  color: white;
  border-radius: 4px;
}

/* Main Info */

#main-info {
  display: flex;
}

.left-side {
  width: 60%;
  border-right: 2px solid rgb(214, 214, 214);
  padding: 32px 24px 32px 24px;
  background-color: white;
}

.left-side h1{
    font-size: 2rem;
    padding-top: 15px;
}

.left-side p{
    font-size: 0.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-side {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

#news-box {
  height: 30%;
  display: flex;
  border-top: 2px solid rgb(214, 214, 214);
  padding: 24px 16px 24px 16px;
}


#news-box img {
  width: 35%;
}

#news-box .text {
  width: 65%;
  padding-left: 16px;
  vertical-align: middle;
}

#news-box.orientation-date {
    border-top: 0px;
}

#news-box.our-campus {
  background-color: rgb(214, 214, 214);
}

/* Courses Section */

#courses-section {
  background-color: rgb(233, 230, 230);
}

#courses-section h1 {
  text-align: center;
  padding-top: 55px;
}

#courses-section .content {
  display: flex;
  padding: 10px 72px 32px 88px;
  justify-content: space-around;
  flex-wrap: wrap;
}

#course-box {
  width: 30%;
  background-color: white;
  margin-right: 32px;
  margin-top: 32px;
  box-shadow: 3px 5px 6px rgba(58, 56, 56, 0.733);
}

#course-box img {
  height: auto;
}

#course-box .text {
  padding: 16px 16px 32px 16px;
}

.text p {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5rem;
}
.text span {
    color: rgb(158, 154, 154);
}

#course-box .text h3 {
  padding-bottom: 8px;
  font-weight: bolder;
}
